@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #170C04;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

.btn-icon {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: 'Roboto';
    line-height: 1;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.btn {
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    background-color: #E27B3A;
    border-radius: 24px;
    border: 1px solid #E27B3A;
    transition: all 0.3s;
    padding: 11px 30px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.btn:hover {
    background-color: transparent;
    color:#E27B3A;
}

.btn-ghost {
    color: #E27B3A;
    border: 1px solid rgb(226, 123, 58, 0.15);
    background-color: #fff;
}

.btn-ghost:hover {
    background-color:rgb(226, 123, 58, 0.15);
}

.title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    font-family: 'Poppins';
    display: block;
}

.description-text {
    opacity: 0.6;
    margin-bottom: 20px;
}

.link {
    color: #E27B3A;
    text-align: center;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.heading {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.heading:before {
    position: absolute;
    content: '';
    width: 5000px;
    height: 5000px;
    background-color: rgba(226, 123, 58, 0.1);
    left: 20%;
    transform: rotate(20deg);


}

.header-wrap{
    padding: 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.18;
    color: #000;
    text-transform: uppercase;
}

.header-logo span {
    margin-left: 5px;
}

.header-logo img {
    max-width: 36px;
    max-height: 39px;
    width: auto;
    height: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 27px;
}

.nav-link {
    color: #170C04;
    line-height: 1.19;
}

.nav-link:hover {
    color: #E27B3A;
}

.actions-list {
    display: flex;
    align-items: center;
    margin: 0 -20px;
}

.action-item {
    padding: 0 20px;
}

.action-item .btn-icon:hover {
    color: #E27B3A;
}

.action-item-menu {
    display: none;
}

.hero-wrap {
    min-height: calc(100vh - 101px);
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.hero-box {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 100px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 1.2;
    max-width: 613px;
    margin-bottom: 80px;
}

.hero-btns {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    flex-wrap: wrap;
}

.hero-btn {
    padding: 5px 10px;
}

.hero-decor-img {
    position: absolute;
    right: 0;
    z-index: 1;
    max-width: 50%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.product-details {
    padding: 80px 0 60px;
}

.details-cards-wrap {
    display: flex;
    margin: 0 -15px;
}

.details-box {
    padding: 0 15px;
    width: 33.33%;
}

.details-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 25px 18px;
    text-align:center;
    position: relative;
}

.top-decor {
    width: 63px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 50%;
    top: -30px;
    margin-left: -31.5px;
    padding: 8px;
}

.top-decor img {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
}

.details-title {
    font-family: 'Poppins';
    font-size: 25px;
    color:#170C04;
    display: block;
}

.info-product-text {
    font-family: 'Roboto';
    opacity: 0.6;
    text-align: center;
    margin: 11px 6px 24px 6px;
}

.details-link {
    font-family: 'Roboto';
    color: #E27B3A;
}

.one {
    background-image: url(../img/Bg-decor-info-1.svg);
}

.two {
    background-image: url(../img/Bg-decor-info-2.svg);
}

.three {
    background-image: url(../img/Bg-decor-info-3.svg);
}

.products-card {
    padding: 60px 0 130px;
}

.products-card-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.card__wrapper {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 46px;
    text-align: center;
}

.card {
    width: 100%;
    text-align: center;
}

.card__wrapper.small {
    width: 33.33%;
}

.card__wrapper.small span {
    font-size: 20px;
}

.products-card p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    padding-bottom: 18px;
}

.products-card-span {
    opacity: 0.6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 25px;
    max-width: 505px;
    margin: 0 auto;
}

.card__image {
    border-radius: 20px;
    background-color: #FCF2EB;
    text-align: center;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 25px;
}

.card__wrapper.small .card__image {
    height: 273px;
}

.card__image img {
    width: 100%;
}


.img-1 {
    max-width: 373px;
    max-height: 278px;
    width: auto;
    height: auto;
}

.img-2 {
    max-height: 304px;
    max-width: 304px;
    width: auto;
    height: auto;
}

.img-3 {
    max-width: 240px;
    max-height: 240px;
    width: auto;
    height: auto;
}

.img-4 {
    max-width: 195px;
    max-height: 177px;
    width: auto;
    height: auto;
}

.img-5 {
    max-width: 262px;
    max-height: 170px;
    width: auto;
    height: auto;
}

.card__title {
    font-family: 'Poppins';
    font-weight: 500;
    display: block;
    text-align: center;
    padding-bottom: 9px;
    font-size: 25px;
}

.product-link {
    display: flex;
    justify-content: center;
}

.product-details-btn {
    border-radius: 4px;
    padding: 12px 29px;
}

.dog-care {
    padding: 65px 0 58px;
}

.dog-care-wrap {
    display: flex;
    align-items: center;
}

.dog-care-img {
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-care-img img {
    max-width: 100%;
    max-height: 540px;
    width: auto;
    height: auto;
}

.dog-care-info {
    width: 44%;
    padding-left: 70px;
}

.dog-care-label {
    font-weight: 500;
    display: block;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E27B3A;
    opacity: 0.8;
    line-height: 1.19;
    margin-bottom: 4px;
}

.dog-care-title {
    margin-bottom: 18px;
}

.dog-care-description {
    margin-bottom: 40px;
}

.dog-care-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dog-care-item {
    margin-right: 30px;
    padding: 5px 0;
}

.dog-care-item:last-child {
    margin-right: 0;
}

.subscription {
    padding: 58px 0 60px;
}

.subscription-title {
    margin-bottom: 36px;
    text-align: center;
}

.subscription-cards {
    display: flex;
    margin: 0 -15px;
}

.subscription-card-title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins';
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 22px;
}

.subscription-card-text {
    display: block;
    text-align: center;
}

.subscription-card-link {
    text-align: center;
}

.subscription-card {
    width: 33.33%;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 46px;
}

.subscription-card-img {
    margin-bottom: 51px;
}

.subscription-img {
    max-width: 307px;
    max-height: 264px;
    width: 100%;
    height: auto;
}

.subscription-btn {
    max-width: 131px;
    margin: 0 auto;
}

.popular-products-gallery {
    padding: 60px 0 60px;
}

.popular-products-gallery .container {
    display: flex;
}

.popular-products-gallery-wrap {
    display: flex;
    align-items: center;
}

.popular-products-gallery-info {
    width: 50%;
    padding: 0 15px;
}

.popular-products-gallery-title {
    margin-bottom: 12px;
    text-align: center;
}

.p-p-g-m {
    padding: 0 15px;
    width: 50%;
}

.popular-products-gallery-text {
    display: block;
    text-align: center;
    margin-bottom: 26px;
}

.popular-products-gallery-card-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.popular-products-gallery-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 170px;
    padding: 25px 40px;
}

.popular-products-gallery-img {
    max-width: 184px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.p-p-g-img-1 {
    background-color: rgba(144, 10, 8, 0.1);
}

.p-p-g-img-2 {
    background-color: rgba(36, 61, 126, 0.1);
}

.p-p-g-img-3 {
    background-color: rgba(128, 1, 37, 0.1);
} 

.p-p-g-img-4 {
    background-color: rgba(196, 140, 174, 0.1);
}

.gallery-img {
    padding: 15px;
    width: 50%;
}

.popular-products-gallery-main-img {
    background-color: rgba(196, 21, 75, 0.1);
    text-align: center;
    border-radius: 10px;
    padding: 39px 46px 45px;
    
}

.popular-products-gallery-img-main {
    max-width: 100%;
    max-height: 425px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-wrap {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.testimonial-outer {
    position: relative;
    max-width: 555px;
    margin: 0 auto;
    z-index: 1;
}

.testimonial-outer:before,
.testimonial-outer:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.testimonial-outer:after {
    top: -20px;
    left: -20px;
    z-index: -2;
}

.testimonial-outer:before {
    top: -10px;
    left: -10px;
    z-index: -1;
}

.testimonial-arrows {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -23px;
    bottom: 70px;
}

.testimonial-arrows .btn-icon {
    margin-bottom: 20px;
}

.testimonial-arrows .btn-icon:last-child {
    margin-bottom: 0;
}

.testimonial-item {
    padding: 30px 30px 21px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.testimonial-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

.testimonial-description {
    opacity: 0.6;
    margin-bottom: 20px;
}

.testimonial-rating {
    position: relative;
    width: 79px;
    height: 15px;
    line-height: 0;
    margin: 0 auto 23px;
}

.testimonial {
    padding: 60px 0 43px;
}

.testimonial-title {
    text-align: center;
    margin-bottom: 52px;
}

.rating {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating img {
    width: 79px;
    height: 15px;
}

.testimonial-name {
    display: block;
    padding: 0 55px;
}

.testimonial-position {
    display: block;
    font-size: 12px;
    opacity: 0.6;
    line-height: 2;
    padding: 0 55px;
}

.quote {
    position: absolute;
    max-width: 41px;
    max-height: 37px;
    width: auto;
    height: auto;
    opacity: 0.05;
}

.quote-top {
    top: 30px;
    left: 30px;
}

.quote-bottom {
    right: 30px;
    bottom: 30px;
    transform: rotate(180deg);
}

.swiper-button-next,
.swiper-button-prev {
    width: auto;
    height: auto;
    position: static;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.footer {
    background-color: #140A03;
    color: #fff;
    padding: 0 0 105px;
    position: relative;
    margin-top: 50px;
}

.footer:after {
    position: absolute;
    content: '';
    border: 400px solid transparent;
    border-bottom: 60px solid #140A03;
    transform: translateX(-50%);
    bottom: 100%;
    left: 50%;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    padding-top: 70px;
    width: 70%;
}

.footer-right {
    text-align: right;
}

.footer-nav-item:not(:last-child) {
    margin-bottom: 37px;
}

.footer-nav-item a {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}

.footer-nav-item a:before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color:rgba(255, 255, 255, 0.8);
    left: 0;
    bottom: -2px;
    transition: all 0.3s;
}

.footer-nav-item a:hover:before {
    width: 100%;
}

.footer-nav-item a span {
    color: #E27B3A;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 66px;
}

.footer-logo img {
    margin-bottom: 12px;
}

.footer-logo-text {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.15;
    text-transform: uppercase;
}

.footer-social {
    display: flex;
    align-items: center;
    margin: 0 -12.5px;
}

.footer-social-item {
    padding: 0 12.5px;
}

.footer-social-item a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DFDFDF;
    border-radius: 50%;
    color: black;
}

.footer-social-item a:hover {
    color: #E27B3A;
}

.footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}





@media(max-width: 1023px) {
    .heading:before {
        left: 10%;
    }
    
    .hero-title {
        font-size: 65px;
        max-width: 380px;
    }

    .dog-care-info {
        padding-left: 30px;
        width: 55%;
    }

    .dog-care-img {
        width: 45%;
    }

    .popular-products-gallery-title {
        font-size: 23px;
        margin-bottom: 8px;
    }

    .popular-products-gallery-text {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .popular-products-gallery-img-wrap {
        height: 100%;
        padding: 10px 20px;
    }

    .popular-products-gallery-img {
        padding: 0 20px;
    }

    .footer:after {
        border: 350px solid transparent;
        border-bottom: 50px solid #140A03;
    }

    .footer-nav-item {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media(max-width: 767px) {
    .heading:before {
        display: none;
    }
    
    .title {
        font-size: 28px;
    }

    .action-item-menu {
        display: block;
    }

    .header-nav {
        position: fixed;
        z-index: 9;
        width: 50%;
        min-width: 250px;
        background-color: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 30px 0;
        transform: translateX(-100%);
        transition: all 0.3s;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
    }

    .nav-list {
        display: block;
        font-size: 30px;
    }

    .header-nav.is-open {
        transform: translateX(-100%);
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
    }

    .nav-item {
        padding: 0;
    }

    .nav-link {
        display: block;
        padding: 10px 15px;
    }

    .hero-title {
        font-size: 50px;
        margin-bottom: 50px;
        max-width: 100%;
    }

    .hero-decor-img {
        width: 100%;
        opacity: 0.4;
        max-width: 100%;
    }

    .details-cards-wrap {
        flex-wrap: wrap;
    }

    .details-box {
        width: 100%;
        padding-bottom: 50px;
    }

    .details-box:last-child {
        padding-bottom: 0;
    }

    .products-card p {
        font-size: 25px;
    }

    .products-card-span {
        font-size: 14px;
    }

    .card__wrapper {
        display: flex;
        flex: 1 1 auto;
        margin-bottom: 26px;
    }

    .card {
        width: 100%;
        text-align: center;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }

    .card__image {
        border-radius: 20px;
        background-color: #FCF2EB;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 20px;
        margin-bottom: 25px;
        height: 100%;
    }

    .card__wrapper.small .card__image {
        height: 100%;
        padding: 10px;
    }

    .card__title {
        font-size: 20px;
    }

    .card__wrapper.small span {
        font-size: 15px;
    }

    .link {
        font-size: 15px;
    }

    .product-details-btn {
        font-size: 14px;
        padding: 8px 20px;
    }

    .dog-care-wrap {
        display: block;
    }

    .dog-care-img {
        width: 100%;
        margin-bottom: 30px;
        max-width: 500px;
    }

    .dog-care-info {
        width: 100%;
        padding-left: 0;
    }

    .subscription-card {
        padding: 0 10px;
    }

    .subscription-card-text {
        font-size: 14px;
    }

    .subscription-card-img {
        margin-bottom: 25px;
    }

    .subscription-title {
        margin-bottom: 30px;
        font-size: 23px;
    }

    .subscription-card-title {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .subscription-card-link {
        margin-bottom: 35px;
    }

    .popular-products-gallery-wrap {
        flex-direction: column;
    }

    .popular-products-gallery-info {
        width: 100%;
        margin: 0;
    }

    .popular-products-gallery-main-img {
        width: 100%;
        padding: 20px;
    }

    .gallery-img {
        padding: 8px;
    }

    .testimonial-outer {
        width: calc(100vw - 80px);
    }

    .testimonial-item {
        padding: 20px 15px;
    }

    .testimonial-title {
        margin-bottom: 30px;
    }

    .quote-top {
        top: 20px;
        left: 20px;
    }

    .quote-bottom {
        bottom: 20px;
        right: 20px;
    }

    .footer:after {
        border: 140px solid transparent;
        border-bottom: 40px solid #140A03;
    }

    .footer-wrap {
        flex-wrap: wrap;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-middle {
        order: 1;
        width: 100%;
    }

    .footer-left {
        order: 2;
        width: 50%;
    }

    .footer-right {
        order: 3;
        width: 50%;
    }
    .footer-right,
    .footer-left {
        padding-top: 30px;
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .product-details {
        padding: 50px 0;
    }

    .products-card {
        padding: 30px 0;
    }

    .dog-care {
        padding: 50px 0;
    }

    .subscription-wrap {
        padding: 70px 0 80px;
    }

     
}

@media(max-width: 479px) {

    .details-title {
        font-size: 20px;
    }

    .details-card{
        padding: 30px 20px 15px;
    }

    .card__wrapper {
        margin-bottom: 20px;
    }

    .products-card p {
        font-size: 22px;
    }

    .products-card-span {
        font-size: 13px;
    }

    .card__title {
        font-size: 14px;
    }

    .card__wrapper.small span {
        font-size: 12px;
    }

    .card__wrapper {
        padding: 0 5px;
    }

    .link {
        font-size: 12px;
    }

    .product-details-btn {
        font-size: 13px;
        padding: 7px 18px;
    }

    .subscription-card {
        padding: 0 7px;
    }

    .subscription-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .subscription-card-title {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .subscription-card-text {
        word-wrap: break-word;
    }

    .popular-products-gallery-title {
        font-size: 23px;
    }

    .popular-products-gallery-img-wrap {
        padding: 10px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
    }

    .footer-right {
        padding-top: 15px;
        text-align: left;
    }

}

/* // form elements */



















